@tailwind base;

@tailwind components;

@tailwind utilities;

/*Custom Css*/

@font-face{
    font-family: 'Circular';
    src: url(../fonts/CircularStd-Book.otf);
}
@font-face{
    font-family: 'Circular-bold';
    src: url(../fonts/CircularStd-Black.otf);
}

body {
    font-family: 'Circular';
}
